# -----[ External required OSS ]-----
External/
[Dd]ebug/
Release/
_UpgradeReport_Files/
_Resharper.*/

Platform/Windows/extern/

Platform/Android/bin/
Platform/Android/.settings/

Platform/AndroidNative/bin/
Platform/AndroidNative/.settings/

# -----[ Visual Studio / Android Eclipse generated ]---
*.obj
*.exe
*.exp
*.pdb
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
*.lib
*.sbr
*.sdf
*.icph
Thumbs.db

*.o
*.o.d
*.class
*.jar
*.so
*.a
project.properties
